Host trishome
  Hostname 192.168.1.8
  User biggybi
  # Port 443
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/trishome

Host avtiyovn
  Hostname 192.168.1.24
  User tris
  Port 24
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/avtiyovn

Host devopslab
  Hostname 192.168.0.221
  User tris
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/tris_sistema

